body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.data {
  display: inline;
  float: left;
  width: 17.8125%;
  margin: 0 2.96875%;
  border: 1px solid black;
  min-height: 5em;
}
.double {
  display: inline;
  float: left;
  width: 17.8125%;
  margin: 0 2.96875%;
  border: 1px solid black;
  min-height: 10em;
}
