body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.data {
  display: inline;
  float: left;
  width: 12.5%;
  margin: 0 2.08333333%;
}
