@import "stylesheets/less/grid.less";

@columns: 4;
@total-width: 95%; // Switch from pixels to percentages

.data {
    .column(1);
    border: 1px solid black;
    min-height: 5em;
}

.double {
    .column(1);
    border: 1px solid black;
    min-height: 10em;

}
